@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
@if(User.Identity.IsAuthenticated)
{
    @if(User.IsInRole("Admin"))
    {
        <h2>Your role is Admin</h2>
    }
    else if(User.IsInRole("Provider"))
    {
        <h2>Your role is provider</h2>
    }else {
        <h2>Your role is client</h2>
    }
}
<div class="album py-5 bg-light">
    <div class="container">
        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var product in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="@Url.Action("ViewProduct", "Product", new{id = product.Id})">
                            <img src="~/Uploads/@product.ProfilePicture" class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false">
                        </a>
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>

                        <div class="card-body">
                            <p class="card-text">
                                Name: @product.Name
                                <br>Description: @product.Description
                                <br>Price: @product.Price
                            </p>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>