@model IEnumerable<Product>
@using Microsoft.AspNetCore.Identity

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">All Products List </h2>
    </div>
</div>
<div class="p-4 border rounded">
    @if (Model.Any())
    {
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th hidden>
                    ID
                </th>
                <th>
                    Product
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
            </tr>
            @foreach (var product in Model)
            {
                <tr>
                    <td hidden>
                        @product.Id
                    </td>
                    <td>
                        @product.Name
                    </td>
                    <td>
                        @product.Description
                    </td>
                    <td>
                        @product.Price
                    </td>
                </tr>
            }
        </table>
    }
</div>