<!DOCTYPE html>
<html>
<head>
    <title>Payment Success</title>
</head>
<body>
    <div>
        <h1>Payment Successful</h1>
        <img src=<%=ResolveUrl("~/images/successPayment.png")%> alt="Success Image">
        <!-- Use "~/" to specify the root of the application -->
    </div>
</body>
</html>
